@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');

h1 {
    text-align: center;
    color:white;
    float: inline-end;
    background-color:#1C2331;
}

/*styling for the div container*/

.jowo {
    padding-left: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    display: flex;
    background-color:yellow;
    height: 12vh;

}

#manting {
    background-color: yellow;
}

/*styling for the first image in container div*/

.firstimage {
    height: 15vh;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    display: flex;
    float: left;
    width: 75%;
}

/*styling for the second image*/

.secondimage {
    height: 15vh;
    padding-left: 0rem;
    padding-right: 0rem;
    display: flex;
    padding-bottom: 0rem;
    float: center;
    width: 75%;
}

/*styling for the third image*/

.thirdimage {
    height: 15vh;
    padding-left: 0rem;
    padding-right: 0rem;
    display: flex;
    padding-bottom: 0rem;
    float: right;
    width: 75%;
}

/*styling for the fourth image*/

.fourthimage {
    height: 15vh;
    padding-left: 0rem;
    padding-right: 0rem;
    display: flex;
    padding-bottom: 0rem;
    float: right;
    width: 75%;
}
/*firsticon styling*/

#firsticon {
    height: 3vh;
    padding-left: 0rem;
    padding-right: 0rem;
    display: flex;
    padding-bottom: 0rem;
    float: right;
    width: 25%;
}
/*secondicon styling*/

#secondicon {
    height: 3vh;
    padding-left: 0rem;
    padding-right: 0rem;
    display: flex;
    padding-bottom: 0rem;
    float: right;
    width: 25%;
}
/*thirdicon styling*/

#thirdicon {
    height: 3vh;
    padding-left: 0rem;
    padding-right: 0rem;
    display: flex;
    padding-bottom: 0rem;
    float: right;
    width: 25%;
}
/*four the icon*/

#fourthicon {
    height: 3vh;
    padding-left: 0rem;
    padding-right: 0rem;
    display: flex;
    padding-bottom: 0rem;
    float: right;
    width: 25%;
}

#smthngelse {
    background-color: yellow;

}

/*inbox class styling to be re-visited*/
.inbox {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 2px solid red;
    padding: 6px;
    margin: 20px;
    background-color: gray;
}

.img-fluid {
    padding-bottom: 1rem;
}
/*styling for the animated */
#bgimg{
    background: url(../assets/seventh.jpg);
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
    height:78vh;
}

#hero {
  width: 100%;
  height: 78vh;
  background: url(/assets/fourth.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;


  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-direction: alternate-reverse;
}

@keyframes cf3FadeInOut {
  0% {opacity:1;}
  45% {opacity:1;}
  55% {opacity:0;}
  100% {opacity:0;}
}

@media (min-width: 1024px) {
 #hero {
   background-attachment: fixed;
  }
}
.jara {
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
    height:90vh;
}


/*toggle CSS*/

#shown-design {
    display: none;
}
#shown-development {
    display: none;
}
#shown-product {
    display: none;
}
input[type=text],input[type=email],textarea[name=message] {
    background-color: transparent;
    font-weight: 600;
}
.section7 {
    padding-left: 20%;
}
.work-img {
    position: relative;
}
#j1,#j2,#j3,#j4,#j5,#j6,#j7,#j8 {
    position: absolute;
    top: 0%;
    background-color: rgba(255,255,255,0.6);
    width: 100%;
    height: 100%;
    padding: 70px 0;
    display: none;
}


.section4 {
    background-image: url(../assets/organic5.jpeg);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    color: white;
}


/*bootstrap card class styling*/

 .card-img-top {
     height: 500px;
 }

 .card-body card-body-cascade text-center rgba-black-strong {
    color: white;
}
.view view-cascade overlay {
    height: 20px;
}
.cardclass {
    height: 30px;
}
h4 {
    text-align: center;
    background-color: yellow;
    color:  #1C2331;
}

.card-footer {
    background-color: #1C2331;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.olil {
    background-color: #1C2331;
    color: white;
}
h6 {
    text-align: center;
}
.col-sm-8 {
    background-color: #ffffff00;
}

.narco3 {
    background-color: yellow;
}


body {
    overflow-x: hidden;
}

/*style the footer section*/

.color {
    text-align: center;
    background-color: #1C2331;
    color: white;
}



.twitter {
    float: right;
    background-color:#1C2331 ;
}

