@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');

h1 {
    text-align: center;
    color:white;
    float: inline-end;
    background-color:#1C2331;
}

/*styling for the div container*/

.jowo {
    padding-left: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    display: flex;
    background-color:#1C2331;
    height: 15vh;

}

#manting {
    background-color: yellow;
}

/*styling for the first image in container div*/

.firstimage {
    height: 15vh;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    display: flex;
    float: left;
    width: 75%;
}

/*styling for the second image*/

.secondimage {
    height: 15vh;
    padding-left: 0rem;
    padding-right: 0rem;
    display: flex;
    padding-bottom: 0rem;
    float: center;
    width: 75%;
}

/*styling for the third image*/

.thirdimage {
    height: 15vh;
    padding-left: 0rem;
    padding-right: 0rem;
    display: flex;
    padding-bottom: 0rem;
    float: right;
    width: 75%;
}

/*styling for the fourth image*/

.fourthimage {
    height: 15vh;
    padding-left: 0rem;
    padding-right: 0rem;
    display: flex;
    padding-bottom: 0rem;
    float: right;
    width: 75%;
}
/*firsticon styling*/

#firsticon {
    height: 3vh;
    padding-left: 0rem;
    padding-right: 0rem;
    display: flex;
    padding-bottom: 0rem;
    float: right;
    width: 25%;
}
/*secondicon styling*/

#secondicon {
    height: 3vh;
    padding-left: 0rem;
    padding-right: 0rem;
    display: flex;
    padding-bottom: 0rem;
    float: right;
    width: 25%;
}
/*thirdicon styling*/

#thirdicon {
    height: 3vh;
    padding-left: 0rem;
    padding-right: 0rem;
    display: flex;
    padding-bottom: 0rem;
    float: right;
    width: 25%;
}
/*four the icon*/

#fourthicon {
    height: 3vh;
    padding-left: 0rem;
    padding-right: 0rem;
    display: flex;
    padding-bottom: 0rem;
    float: right;
    width: 25%;
}

#smthngelse {
    background-color: yellow;
}
.inbox {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 2px solid red;
    padding: 6px;
    margin: 20px;
    background-color: gray;
}

.img-fluid {
    padding-bottom: 1rem;
}
/*styling for the animated */
#bgimg{
    background: url(../assets/v8.jpg);
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
    height:90vh;
}

#hero {
  width: 100%;
  height: 90vh;
  background: url(../assets/mountain_bggray.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;


  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-direction: alternate-reverse;
}

@keyframes cf3FadeInOut {
  0% {opacity:1;}
  45% {opacity:1;}
  55% {opacity:0;}
  100% {opacity:0;}
}

@media (min-width: 1024px) {
 #hero {
   background-attachment: fixed;
  }
}

